antlr4-python3-runtime==4.9.3
appdirs==1.4.4
attrs==22.1.0
cairocffi==1.3.0
CairoSVG==2.5.2
cattrs==22.1.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.1
colorama==0.4.5
colour==0.1.5
cpe==1.2.1
cssselect2==0.6.0
cybox==2.1.0.21
defusedxml==0.7.1
drawSvg==1.8.3
et-xmlfile==1.1.0
exceptiongroup==1.0.0rc9
idna==3.3
imageio==2.21.2
importlib-metadata==4.12.0
jsonschema==4.15.0
loguru==0.6.0
lxml==4.9.1
maec==4.1.0.17
Markdown==3.4.1
mitreattack-python==1.5.10
mixbox==1.0.5
netaddr==0.8.0
numpy==1.23.2
openpyxl==3.0.10
ordered-set==4.1.0
pandas==1.4.4
Pillow==9.2.0
pluralizer==1.2.0
pycountry==22.3.5
pycparser==2.21
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.2.1
requests==2.28.1
requests-cache==0.9.6
simplejson==3.17.6
six==1.16.0
stix==1.2.0.11
stix2==3.0.1
stix2-elevator==4.1.6
stix2-patterns==2.0.0
stix2-validator==3.0.2
stixmarx==1.0.8
tabulate==0.8.10
taxii2-client==2.3.0
tinycss2==1.1.1
tqdm==4.64.0
url-normalize==1.4.3
urllib3==1.26.12
weakrefmethod==1.0.3
webencodings==0.5.1
XlsxWriter==3.0.3
zipp==3.8.1
